.DrawingPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.completeButton {
  margin-left: 10px;
  margin-right: 20px; 
  padding: 10px 20px; 
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
}

.top-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1; 
}

.bottom-toolbar {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  margin-top: 5px;
}

.popup {
  position: absolute;
  bottom: 70px; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
}

.color-picker-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #ccc;
}

.Canvas {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.randomColorButton {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
}

.Toolbox,
.ColorPicker,
.LineWidthPicker,
.TextInput {
  position: absolute;
  bottom: 20px;
}


@media (max-width: 768px) {
  .top-toolbar {
    flex-direction: row;
    align-items: center;
  }

  .bottom-toolbar {
    flex-direction: column;
    align-items: center;
  }

  .popup {
    bottom: 70px; 
  }

  .completeButton {
    margin-bottom: 10px;
    padding: 12px 20px;
    font-size: 1rem;   
    background-color: black;
    color: white;     
    border: none;      
    border-radius: 5px; 
    display: flex;
    align-items: center;
  }
  .buttonIcon {
    margin-right: 8px;
    vertical-align: middle;
  }
}

@media (max-width: 480px) {
  .top-toolbar {
    flex-direction: row;
    align-items: center;
  }

  .bottom-toolbar {
    flex-direction: column;
    align-items: center;
  }

  .popup {
    bottom: 70px;
  }

  .completeButton {
    margin-bottom: 10px;
  }
}



